.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--sidebar-bg) !important;
}

.logo {
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo img {
  width: 30px;
  height: 30px;
}

.logo span {
  margin-left: 8px;
  font-weight: bold;
  font-size: 20px;
}

.newChat {
  padding: 0 16px;
  /* margin-bottom: 16px; */
  margin-top: 10px;
}

.newChat :global(.ant-btn) {
  text-align: left;
  height: 40px;
}

/* Conversations 组件会自动填充剩余空间 */
.conversationList {
  flex: 1;
  overflow-y: auto;
}

.footer {
  padding: 16px;
  margin-top: auto;
}

.footer :global(.ant-btn) {
  text-align: left;
  height: 40px;
}